{% extends "admin/base.html" %}
{% load staticfiles%}
{% load i18n %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}



{% block branding %}

<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Cookups Technologies')|safe }}</a></h1>
{% endblock %}


{% block usertools %}

    {% if has_permission %}

        <div id="user-tools">
            {% block welcome-msg %}

                {% trans 'Welcome,' %}
                <strong>{% firstof user.get_short_name user.get_username %}</strong>.
            {% endblock %}
            {% block userlinks %}
                <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}